body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}
header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 10;
}
h1 {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}
h6 {
	color: rgb(13, 13, 13);
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}
.lg {
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	display: block;
	letter-spacing: -3px;
}
.sm {
	font-size: 40px;
	font-weight: 100;
	line-height: 60px;
}
.btn {
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	font-family: "Open Sans", Arial, sans-serif;
	text-decoration: none;
	padding: 11px 35px 0;
}
.btn:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(243, 156, 18);
	text-decoration: none;
	border-color: rgb(243, 156, 18);
}
.wrapper {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
}
.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	font-family: "Montserrat", sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.menu {
	list-style: none;
	display: flex;
}
.menu__item {
	margin-left: 90px;
	position: relative;
}
.menu__item:after {
	content: "\\\\";
	display: block;
	font-size: 18px;
	font-weight: 600px;
	line-height: 20px;
	color: rgb(255, 255, 255);
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 40px;
}
.menu__item:last-child:after {
	display: none;
}
.menu__link {
	font-size: 18px;
	font-weight: 600px;
	line-height: 20px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.menu__link:hover {
	color: rgb(0, 0, 0);

}
.banner {
	background: url("../img/icons/banner.png") no-repeat center top;
	height: 1100px;
	width: 100%;
	padding-top: 450px;
	padding-bottom: 280px;
	text-align: center;
}

.about {
	padding: 100px 0;
}
.heading {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}
.heading h2 {
	color: rgb(13, 13, 13);
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	position: relative;
	margin-right: 40px;
}
.heading h2:after {
	content: "";
	display: block;
	width: 4px;
	height: 45px;
	background-color: rgb(243, 156, 18);
	position: absolute;
	top:50%;
	left: 100%;
	transform: translate(0%, -50%);
	margin-left: 19px;
}
.heading p {
	color: rgb(138, 138, 138);
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}

.about__wrap-content{
	display: flex;
	align-items: flex-start;
}
.about__content-icon {
	border-radius: 50%;
	width: 125px;
	height: 125px;
	border: 2px solid rgb(243, 156, 18);
	flex: none;
	margin-right: 25px;
}
.about__content-text h6{
	margin-bottom: 20px;
}
.about__content-text p{
	color: rgb(169, 169, 169);
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.about__content-text .about__text {
	margin-bottom: 25px;
	line-height: 28px;
	color: rgb(231, 76, 60);
	font-size: 20px;
	font-weight: 300;
}
.about__wrap {
	display: flex;
	align-items: flex-start;
	margin-right: 60px;
	flex: 1;
	border-bottom: 2px solid rgb(230, 230, 230);
	padding-bottom: 120px;
}